# --- GENERAL ---
.vscode/
.idea/
*.log
**/*.user
**/*.suo
**/*copy.*

# --- BACKEND (.NET) ---
# Bloquea bin y obj en cualquier subcarpeta del backend
CasaDescanso-Back/**/[Bb]in/
CasaDescanso-Back/**/[Oo]bj/
CasaDescanso-Back/**/.vs/
# Ignorar configuraciones locales sensibles
CasaDescanso-Back/**/appsettings.Development.json

# --- FRONTEND (Angular) ---
# Bloquea la caché y dependencias de Angular
CasaDescanso-Front/.angular/
CasaDescanso-Front/node_modules/
CasaDescanso-Front/dist/
CasaDescanso-Front/.tsbuildinfo

# --- SISTEMA ---
Thumbs.db
.DS_Store